{% extends 'base.html.twig' %}

{% block title %}{{ 'meeting.index.browser.title'|trans }}{% endblock %}

{% block body %}
<div class="container-sm mt-5">
    <div class="d-flex justify-content-between">
        <h1 class="fs-3 text">{{ 'meeting.index.page.title'|trans }}</h1>
        {% if is_granted('ROLE_MEETING_MANAGER') %}
        <a class="btn btn-primary btn-sm mb-2" href="{{ path('app_meeting_create') }}">
            <i class="fa-solid fa-calendar-plus"></i>
            <span class="d-none d-sm-inline ms-1">
                {{ 'meeting.index.table.actions.create'|trans }}
            </span>
        </a>
        {% endif %}
    </div>
    {{ include('meeting/partial/meeting_list.html.twig', {'meetings': meetings}) }} 
</div>
{% endblock %}
