{% set isUserTab = app.request.attributes.get('_route') == 'app_user' %}
{% set isLeaveTab = app.request.attributes.get('_route') == 'app_leave_request' %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" data-turbo="false" href="{{ path('app_home') }}">{{ 'general.navbar.title'|trans }}</a>
        {% if app.user %}
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fs-5 d-lg-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a 
                        {% if isUserTab %} aria-current="page"{% endif %} 
                        class="nav-link{% if isUserTab %} active{% endif %}"
                        href="{{ path('app_user') }}"
                    >{{ 'general.navbar.link.user'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'general.navbar.link.customer'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'general.navbar.link.project'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'general.navbar.link.meeting'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a 
                        {% if isLeaveTab %} aria-current="page"{% endif %} 
                        class="nav-link{% if isLeaveTab %} active{% endif %}"
                        href="{{ path('app_leave_request') }}"
                    >{{ 'general.navbar.link.leave'|trans }}</a>
                </li>
            </ul>
            <div class="mx-lg-2">
                <a class="text fs-5" href="{{ path('app_user_show_leave', {'user': app.user.id}) }}">{{ app.user.username }}</a>
                <a class="text-danger ms-3" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
