{% extends 'base.html.twig' %}

{% block title %}{{ 'user.index.browser.title'|trans }}{% endblock %}

{% block body %}
<div class="container-sm mt-5">
    <div class="d-flex justify-content-between">
        <h1 class="fs-3 text">{{ 'user.index.page.title'|trans }}</h1>
        {% if is_granted('ROLE_USER_MANAGER') %}
        <a class="btn btn-primary btn-sm mb-2" href="{{ path('app_user_create') }}">
            <i class="fa-solid fa-user-plus"></i>
            <span class="d-none d-sm-inline ms-1">
                {{ 'user.index.table.actions.create'|trans }}
            </span>
        </a>
        {% endif %}
    </div>
    <div>
        <div class="table-responsive">
            <table class="table table-hover border-secondary">
                <thead>
                    <tr>
                        <th scope="col">{{ 'user.index.table.username'|trans }}</th>
                        <th class="d-none d-xl-table-cell" scope="col">{{ 'user.index.table.email'|trans }}</th>
                        <th class="d-none d-md-table-cell" scope="col">{{ 'user.index.table.roles'|trans }}</th>
                        <th class="d-none d-xxl-table-cell" scope="col">{{ 'user.index.table.state'|trans }}</th>
                        <th scope="col">{{ 'user.index.table.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td class="d-none d-md-table-cell">{{ user.email }}</td>
                        <td class="d-none d-xl-table-cell">
                            {% for i, role in user.enumRoles %}
                                {% if i < 3 %}
                                <span class="badge bg-secondary me-2">{{ role|trans }}</span>
                                {% elseif loop.last %}
                                <span class="badge bg-secondary me-2">+{{ (user.enumRoles|length - 3) }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="d-none d-xxl-table-cell" class="text-capitalize">{{ user.enumState|trans }}</td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <a href="{{ path('app_user_show_leave', {'user': user.id}) }}" class="btn btn-secondary btn-sm ms-2">
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="d-none d-sm-inline ms-1">
                                        {{ 'user.index.table.actions.show'|trans }}
                                    </span>
                                </a>
                                {% if workflow_can(user, 'invite') %}
                                <form action="{{ path('app_user_invite', {'user': user.id}) }}" method="post">
                                    <button class="btn btn-info btn-sm ms-2">
                                        <i class="fa-regular fa-paper-plane"></i>
                                        <span class="d-none d-sm-inline ms-1">
                                            {{ 'user.index.table.actions.invite'|trans }}
                                        </span>
                                    </button>
                                </form>
                                {% endif %}
                                {% if workflow_can(user, 'disable') %}
                                <form
                                    method="post" 
                                    action="{{ path('app_user_disable', {'user': user.id}) }}"
                                    data-turbo-confirm="{{ 'user.index.table.actions.disable.confirm'|trans }}"
                                >
                                    <button class="btn btn-danger btn-sm ms-2">
                                        <i class="fa-solid fa-ban"></i>
                                        <span class="d-none d-sm-inline ms-01">
                                            {{ 'user.index.table.actions.disable'|trans }}
                                        </span>
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ include('general/pagination.html.twig', {'paginationData': paginationData}) }}
    </div>
</div>
{% endblock %}
