{% extends 'base.html.twig' %}

{% block title %}{{ 'user.show.browser.title'|trans }}{% endblock %}

{% block body %}
<div class="container-sm my-5">
    <h1 class="fs-3">{{ 'user.show.page.title'|trans }}</h1>
    {{ include('user/partial/_show_card.html.twig', {'user': user}) }} 
    {{ include('user/partial/_show_nav.html.twig', {'user': user}) }} 
    <div class="mt-1">
        <div class="d-flex justify-content-between my-2">
            <h2 class="fs-4">{{ 'user.show.leave.title'|trans }}</h2>
            {% if user.id == app.user.id %}
            <a class="btn btn-primary btn-sm mb-1" href="{{ path('app_leave_request_create') }}">
                <i class="fa-solid fa-plus-circle"></i>
                <span class="d-none d-sm-inline ms-1">
                    {{ 'user.show.leave.actions.create'|trans }}
                </span>
            </a>
            {% endif %}
        </div>
        <div>
            {% if leaveRequests|length > 0 %}
            {% for leaveRequest in leaveRequests %}
            {{ include('leave_request/partial/_leave_request_item.html.twig', {'leaveRequest': leaveRequest}) }} 
            {% endfor %}
            {{ include('general/pagination.html.twig', {'paginationData': paginationData}) }}
            {% else %}
                <p class="mt-2 text-center">{{ 'user.show.leave.empty'|trans }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
