{% if withActions is not defined %}
    {% set withActions = true %}
{% endif %}

<div class="table-responsive mb-1">
    <div class="mb-1 fw-bold">
        {{ leaveRequest.type|trans }} - {{ leaveRequest.nbDays }} {{ 'leave_request.item.nb_days'|trans }} - {{ leaveRequest.enumState|trans|raw }}
        {% if leaveRequest.responseComment is not null %}<span class="fst-italic">({{ leaveRequest.responseComment }})</span>{% endif %}
    </div>
    <table class="table table-hover border-secondary mb-1">
        <thead>
            <tr>
                <th scope="col">{{ 'leave_request.item.day_date'|trans }}</th>
                <th scope="col">{{ 'leave_request.item.period'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for dayLeaveRequest in leaveRequest.dayLeaveRequests %}
            <tr>
                <td>{{ dayLeaveRequest.dayDate|format_datetime('long', 'none', locale=app.request.locale) }}</td>
                <td>{{ dayLeaveRequest.period|trans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if withActions %}
    <div class="d-flex justify-content-end">
        {% if workflow_can(leaveRequest, 'accept') or workflow_can(leaveRequest, 'reject') %}
        <a class="btn btn-secondary btn-sm ms-2" href="{{ path('app_leave_request_manage', {'leaveRequest': leaveRequest.id}) }}">
            <i class="fa-solid fa-gear"></i>
            <span class="d-none d-sm-inline ms-1">{{ 'leave_request.item.manage'|trans }}</span>
        </a>
        {% endif %}
        {% if is_granted('EDIT', leaveRequest) %}
        <a class="btn btn-secondary btn-sm ms-2" href="{{ path('app_leave_request_update', {'leaveRequest': leaveRequest.id}) }}">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="d-none d-sm-inline ms-1">{{ 'leave_request.item.update'|trans }}</span>
        </a>
        {% endif %}
        {% if is_granted('DELETE', leaveRequest) %}
        <form action="{{ path('app_leave_request_delete', {'leaveRequest': leaveRequest.id}) }}">
            <button class="btn btn-danger btn-sm ms-2">
                <i class="fa-solid fa-ban"></i>
                <span class="d-none d-sm-inline ms-1">{{ 'leave_request.item.delete'|trans }}</span>
            </button>
        </form>
        {% endif %}
    </div>
    {% endif %}
</div>
