<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="turbo-prefetch" content="false">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    {% block navbar %}
    {{ include('general/navbar.html.twig') }}
    {% endblock %}
    <main class="pb-3">
        {% block body %}{% endblock %}
        {% set successMessages = app.flashes('success') %}
        {% set errorMessages = app.flashes('error') %}
        {% if successMessages|length > 0 or errorMessages|length > 0 %}
            <div class="fixed-bottom">
                <div class="row col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xs-12">
                    {% for message in successMessages  %}
                    <div class="alert alert-success d-flex justify-content-between fade show my-2" style="cursor: pointer;" data-bs-dismiss="alert" role="alert">
                        {{ message|trans }}
                        <button type="button" class="btn-close" disabled aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% for message in errorMessages  %}
                    <div class="alert alert-danger d-flex justify-content-between fade show my-2" style="cursor: pointer;" data-bs-dismiss="alert" role="alert">
                        {{ message|trans }}
                        <button type="button" class="btn-close" disabled aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
</body>

</html>
